<%- include('../partials/header.ejs') %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <form action="/campgrounds/<%= campground._id%>/comments ", method="POST">
                <h1 class="text-center">Add a new comment to <%= campground.name %> </h1>
                <div class="form-group">
                    <label for="text">Your comment:</label>
                    <textarea name="comment[text]" id="text" cols="30" rows="10" class="form-control">
                    </textarea>
                </div>
                <input type="submit" value="add comment" class="btn btn-success mx-auto d-flex justify-content-center btn-block">
            </form>
            
        </div>
    </div>
</div>


<%- include('../partials/footer.ejs') %> 